* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A49ADB;
}
header {
    position: sticky;
    top: 0;
    background-color: #902902;
    color: #E7FF91;
    text-align: center;
}
ul li{
    display: inline;
    font-size: 40px;
    padding: 12px;
    margin: 10px;
    vertical-align: middle;
}
nav a {
    text-decoration: none;
    color: #E7FF91;
}
main {
    width: 960px;
    margin: 0 auto;
    background-color: #E7FF91;
}
main p {
    font-size: medium;
}
main ul {
    display: flex;
}
h1, h2 {
    padding-top: 30px;
    text-align: center;
    color: #64108F;
}
footer {
    background-color: #902902;
    color: #E7FF91;
    text-align: center;
}